.page {
  display: none;
}

#dropdown-logged-in {
  display: none;
}

#the-alert {
  display: none;
}

#spinner-login {
  display: none;
}

#div-google-map {
  height: 400px;
  width: 400px;
  max-width: 100%;
  border: 1px solid #888;
}

#bottom-padding {
  height: 50px;
}

#div-icon-thumb img {
  height: 100%;
}

body {
  background-color: #e3e3ee;
}
