.page {
  display: none;
}

#dropdown-logged-in {
  display: none;
}

#the-alert {
  display: none;
}

#spinner-login {
  display: none;
}

#div-google-map {
  height: 400px;
  width: 400px;
}

#bottom-padding {
  height: 50px;
}
