.primaryMap .theMap, .primaryThumbs .theThumbs {
  position: absolute;
  top: 77px;
  left: 0;
  width: 60%;
  height: calc(100% - 77px);
}

.primaryModal {
  position: absolute;
  top: 77px;
  left: 60%;
  width: 40%;
  height: calc(100% - 77px);
}

.searchPane {
  display: block;
  position: absolute;
  top: 77px;
  left: 60%;
  width: 40%;
  height: 0;
  transition-property: height;
  transition-duration: 0.25s;
  z-index: 1;
}
.searching .searchPane {
  height: calc(100% - 77px);
}

.primaryMap .theThumbs, .primaryThumbs .theMap {
  position: absolute;
  top: 77px;
  left: 60%;
  width: 40%;
  height: calc(100% - 77px);
  transition-property: top, height;
  transition-duration: 0.25s;
}

.desktopMenu {
  position: absolute;
  top: 0;
  left: 0;
  height: 77px;
  width: 100%;
  background-color: rgb(44,48,59);
}

.menuBrand { float: left; }
.menuMap { float: left; }
.menuThumbs { float: left; }
.menuSift { float: right; }
.menuDiscover, .menuMyAccount, .menuMySiftrs {
  float: right;
  height: 100%;
  color: white;
  cursor: pointer;
}
.menuTable {
  display: table;
  color: white;
  height: 100%;
}
.menuTableCell {
  display: table-cell;
  color: white;
  vertical-align: middle;
  text-align: center;
  height: 100%;
  text-decoration: none;
  padding-right: 30px;
}

.addItemDesktop {
  position: absolute;
  cursor: pointer;
  top: 95px;
}
.addItemDesktop img {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
}
.primaryMap .addItemDesktop {
  left: calc(60% - 203px);
}
.primaryThumbs .addItemDesktop {
  left: calc(60% + 17px);
}
.addItemMobile { display: none; }

.accountMenuDesktop {
  z-index: 1;
  max-height: 0;
  transition-property: max-height;
  transition-duration: 0.25s;
  overflow: hidden;
  position: absolute;
  top: 77px;
  right: 120px;
  background-color: rgb(44,48,59);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  width: 275px;
}
.accountMenuOpen .accountMenuDesktop {
  max-height: 500px;
}

.accountMenuMobile { display: none; }

.bottomModal {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60%;
  background-color: white;
}

.mobileTitle { display: none; }

.primaryMap .thumbnail {
  width: 45%;
}
@media(min-width:1300px) {
  .primaryMap .thumbnail {
    width: 31%;
  }
}
@media(min-width:1600px) {
  .primaryMap .thumbnail {
    width: 23%;
  }
}
@media(min-width:2000px) {
  .primaryMap .thumbnail {
    width: 18.5%;
  }
}

.primaryThumbs .thumbnail {
  width: 31%;
}
@media(min-width:1200px) {
  .primaryThumbs .thumbnail {
    width: 23%;
  }
}
@media(min-width:1450px) {
  .primaryThumbs .thumbnail {
    width: 18.5%;
  }
}
@media(min-width:1750px) {
  .primaryThumbs .thumbnail {
    width: 15.5%;
  }
}

.messageBox {
  left: 100px;
  width: calc(100% - 300px);
  padding: 50px;
}

.the-address-box {
  position: absolute;
  left: 10px;
  top: 87px;
  width: calc(60% - 25px);
}
