// creating categories in a new Siftr

.create-category-add {
  background-color: rgb(51,191,224);
  color: white;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.create-category-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.create-category-dot {
  width: 30px;
  min-width: 30px;
  height: 30px;
  border-radius: 15px;
  margin: 5px;
}

.create-category-name {
  flex: 1;
  margin: 5px;
}

.create-category-x {
  color: rgb(255,87,61);
  font-size: 25px;
  margin: 5
}

// editing categories in an existing Siftr

.category-button {
  color: white;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.delete-category-x {
  position: absolute;
  right: 8px;
  top: 4px;
  padding: 4px 10px;
  box-sizing: border-box;
  border: 2px solid white;
}
