body
  font-family: "Lato", sans-serif
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

#the-ui-box
  position: fixed
  width: 100%
  height: 100%
  top: 0
  left: 0

#the-main-modal
  background-color: white

#the-modal-content
  overflow-y: auto
  height: calc(100% - 60px)

#the-icon-bar
  background-color: #e0e0e0
  color: #555
  font-size: 25px
  width: 100%
  height: 60px
  overflow-y: hidden

#the-icon-bar:after
  content: " "
  display: block
  height: 0
  clear: both

body.is-mode-add .a-menu-icon-left
  display: none
.a-menu-icon-left
  float: left
  margin: 15px
  cursor: pointer

body.is-mode-add .a-menu-icon-right
  display: none
.a-menu-icon-right
  float: right
  margin: 15px
  cursor: pointer

#the-icon-bar-x
  display: none
  float: left
  padding: 15px
  cursor: pointer
  color: #e0e0e0
  background-color: #555
body.is-mode-note #the-icon-bar-x,
body.is-mode-add #the-icon-bar-x
  display: block

body:not(.is-logged-in) .logged-in
  display: none

.a-menu-option
  cursor: pointer

body:not(.is-mode-tags) #the-search-tags,
body.is-mode-note #the-search-tags,
body.is-mode-add #the-search-tags
  display: none
#the-search-tags
  margin: 15px
#the-search-tags p
  margin: 0px
#the-search-tags input[type="checkbox"]
  margin: 10px

$gallery-margin: 15px
#the-note-gallery
  margin: $gallery-margin

body.is-mode-note #the-note-gallery,
body.is-mode-add #the-note-gallery
  display: none

$grid-spacing: 7px
#the-note-grid
  display: table
  width: 100%
  border-spacing: $grid-spacing
  // margin: -$grid-spacing

.a-grid-row
  display: table-row

.a-grid-photo
  background-size: cover
  background-position: center
  display: table-cell
  position: relative
.a-grid-photo:after
  content: ''
  display: block
  margin-top: 100%
