#the-map-box {
  position: relative;
  width: 100%;
  height: 55%;
  top: 0;
  left: 0; }

body.is-mode-map:not(.is-mode-note) #the-map-box {
  height: calc(100% - 60px); }

body.is-mode-note #the-map-box {
  height: 0; }

#the-map {
  width: 100%;
  height: 100%; }

#the-main-modal {
  position: relative;
  width: 100%;
  height: 45%; }

body.is-mode-map:not(.is-mode-note) #the-main-modal {
  height: 60px; }

body.is-mode-note #the-main-modal {
  height: 100%; }

#the-add-button {
  display: none; }

#the-siftr-logo {
  display: none; }

#the-user-logo {
  display: none; }

#the-menu-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: black;
  cursor: pointer; }

#the-menu {
  position: absolute;
  top: 0;
  left: 100%;
  width: 170px;
  height: 100%;
  background-color: #2b303b;
  color: #72d3e8;
  padding: 15px;
  text-align: center; }

#the-menu input {
  width: 100%;
  color: black; }

#the-ui-box {
  transition-property: left;
  transition-duration: 0.25s; }

body.is-open-menu #the-ui-box {
  left: -200px; }

.a-menu-option {
  margin: 10px; }

body.is-mode-note .a-menu-icon-center,
body.is-mode-add .a-menu-icon-center,
body.is-mode-edit .a-menu-icon-center {
  display: none; }

.a-menu-icon-center {
  margin: 0 auto;
  width: 30px; }
