@media screen and (min-width: 950px) {

.siftrList, .inner-nav {
  padding-left: 22%;
  padding-right: 22%;
  width: 100%;
  box-sizing: border-box;
}

.newStep1 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.newStep1Column {
  overflow-y: auto;
  padding: 25px;
}

.newStep1LeftColumn {
  flex: 1;
  padding: 30px;
}

.newStep1RightColumn {
  width: 275px;
  border-left: 2px solid #F4F4F4;
}

.newStep2 {
  width: 80%;
  margin-left: 10%;
}

.newStep2LeftCol {
  box-sizing: border-box;
}

.newStep4 {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.newStep4Fields {
  width: 70%;
  border-right: 2px solid #F4F4F4;
  >p {
    text-align:center;
    margin:20px;
    text-transform:uppercase;
  }
}

.newStep4FieldInfo {
  width: 30%;
  padding: 20px;
  .inspectortitle {
    margin-bottom:30px;
    img {
      display:inline;
      vertical-align: middle;
      width:26px;
      margin-right:15px;
    }
    h2 {
      display:inline;
      vertical-align: middle;
      font-family: 'Varela Round', sans-serif;
    }
  }
  ul {
    list-style:none;
    padding-left: 0;
    li {
      margin-bottom:20px;
      input[type=text] {
        width:68%;
      }
      img {
        width: 10px;
        height: auto;
        vertical-align: middle;
        padding: 9px;
        border-radius: 3px;
        background: #F4F4F4;
        &:hover {
          background: #DCD0D0;
        }
      }
      .addoption_btn{
        padding: 5px 10px 5px 5px;
        border: 1px solid #969696;
        border-radius: 4px;
        vertical-align: middle;
        cursor: pointer;
        margin-top: 10px;
        display: inline-block;
        .addoption{
          vertical-align: middle;
          background: none;
          width: 25px;
          margin-right: 10px;
          padding:0px;
        }
        &:hover {
          background:#969696;
          color:#fff;
          text-decoration:none;
        }
      }

      .deletefield {
        background: none;
        width: 18px;
        margin-left: 10px;
        &:hover {
          background: #F4F4F4;
        }
      }
    }
  }
  input[type=textarea] {
    width:100%;
    height:100px;
  }
  input[type=text] {
    padding: 10px;
    font-size: 12px;
  }
  .savebutton {
    text-align: right;
    border-top: 2px solid #F4F4F4;
    padding: 20px 0px;
    span {
      padding: 5px 10px;
      border-radius: 5px;
      border: 1px solid #969696;
      cursor:pointer;
      &:hover {
        background:#969696;
        color:#ffffff;
      }
    }
  }
}

.newStep5 {
  width: 30%;
  padding-left: 35%;
}

.accountMenuDesktop {
  max-height: 0;
  position: fixed;
  top: 53px;
  right: 50px;
  background-color: rgb(44,48,59);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  width: 275px;
  overflow-y: hidden;
  transition-property: max-height;
  transition-duration: 0.25s;
  text-align: center;
}

.accountMenuOpen .accountMenuDesktop {
  max-height: 500px;
}

.loginForm {
  padding-top: 100px;
  padding-left: 30%;
  width: 40%;
  flex: 1;
}

.accountDetails {
  padding-top: 15px;
}

.accountMenuMobile {
  display: none;
}

.mobile-nav-bar {
  display: none;
}

.clearOnMobile {
  display: none;
}

.editLocationMobile {
  display: none;
}

.mobileSaveLocation {
  display: none;
}

.newStep3 {
  flex-direction: row-reverse;
}

.newStep3Controls {
  width: 360px;
}

}
