.field-notes-groups {
  padding: 15px;
  .field-notes-group {
    .field-notes-item {
      display: block;
      border: 3px solid rgb(195,207,217);
      padding: 10px;
      margin-top: 20px;
      margin-bottom: 20px;
      &.selected {
        border: 3px solid rgb(101,88,245);
      }
    }
  }
}