.inner-nav {
}

.inner-nav-user {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 15px;
}

.inner-nav-pic {
  display: inline-block;
  background-color: #ddd;
  background-position: center;
  background-size: cover;
  width: 80px;
  height: 80px;
  border-radius: 999px;
  margin-right: 15px;
}

.inner-nav-headers {
  flex: 1;
  h1 {
    margin: 0;
    font-weight: normal;
  }
}

.inner-nav-bar {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  font-size: 15px;
}

.inner-nav-bar-item {
  border-bottom: 2px solid rgb(193,193,193);
  padding: 8px 25px;
}

.inner-nav-bar-item-current {
  border-bottom: 2px solid rgb(20,20,20);
}

.inner-nav-bar-filler {
  border-bottom: 2px solid rgb(193,193,193);
  flex: 1;
}
