.newGameFixedBox {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9997;
  display: flex;
  align-items: center;
  justify-content: center;
  .newGameCurtain {
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9998;
  }
  .newGameModal {
    user-select: text;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    h1 {
      font-size: 24px;
    }
    z-index: 9999;
    a {
      text-decoration: underline;
      font-family: monospace;
    }
    .newGameMobileCode {
      font-family: monospace;
    }
  }
}
