.siftrList {
  padding-top: 30px;
}

.siftr-color-bar {
  width: 100%;
  height: 8px;
  margin: 0;
  padding: 0;
  border-radius: 999px;
}

.siftr-data {
  margin-top: 10px;
}

.siftr-data-pipe {
  margin-left: 14px;
  margin-right: 14px;
}

.siftr-entry {
  margin-bottom: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.siftr-icon {
  height: 70px;
  width: 70px;
  border-radius: 7px;
  background-color: #d3d3d3;
  margin-right: 12px;
  background-position: center;
  background-size: cover;
  display: inline-block;
}

.siftr-entry-right {
  flex: 1;
}

.siftr-entry-title-buttons {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.siftr-entry-title {
  font-size: 18px;
}

.siftr-command-button {
  border: 1px solid black;
  padding: 0 7px;
  margin-left: 5px;
  color: black;
  border-radius: 4px;
  display: inline-block;
}
