.primaryPane, .primaryModal {
  position: absolute;
  top: 77px;
  left: 0;
  width: 70%;
  height: calc(100% - 77px);
}

.searchPane {
  display: block;
  position: absolute;
  top: 77px;
  left: 70%;
  width: 30%;
  height: 0;
  transition-property: height;
  transition-duration: 0.25s;
}
.searching .searchPane {
  height: 400px;
}

.secondaryPane {
  position: absolute;
  top: 77px;
  left: 70%;
  width: 30%;
  height: calc(100% - 77px);
  transition-property: top, height;
  transition-duration: 0.25s;
}
.searching .secondaryPane {
  top: 477px;
  height: calc(100% - 477px);
}

.desktopMenu {
  position: absolute;
  top: 0;
  left: 0;
  height: 77px;
  width: 100%;
  background-color: rgb(44,48,59);
}

.menuBrand { float: left; }
.menuMap { float: left; }
.menuThumbs { float: left; }
.menuSift { float: right; }
.menuDiscover { float: right; }
.menuMyAccount { float: right; }
.menuMySiftrs { float: right; }

.addItemDesktop {}
.addItemMobile { display: none; }

.accountMenuDesktop {
  z-index: 1;
  max-height: 0;
  transition-property: max-height;
  transition-duration: 0.25s;
  overflow: hidden;
}
.accountMenuOpen .accountMenuDesktop {
  max-height: 500px;
}

.accountMenuMobile { display: none; }

.bottomModal {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70%;
  background-color: white;
}

.noteView {
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

.mobileTitle { display: none; }
