.theMap, .primaryModal, .theThumbs, .searchPane {
  position: absolute;
  bottom: 77px;
  left: 0;
  width: 100%;
  height: calc(100% - 77px);
}

.primaryMap .theMap, .primaryThumbs .theThumbs {
  z-index: 0;
}

.primaryModal {
  z-index: 3;
}

.primaryMap .theThumbs, .primaryThumbs .theMap {
  z-index: -1;
}

.searchPane {
  z-index: 2;
  max-height: 0;
  transition-property: max-height;
  transition-duration: 0.25s;
  padding: 0;
}
.searching .searchPane {
  max-height: calc(100% - 77px);
  padding: 10px;
}

.desktopMenu {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 77px;
  width: 100%;
  background-color: rgb(44,48,59);
}

.menuBrand { display: none; }
.menuMap { float: left; }
.menuThumbs { float: left; }
.menuSift { float: right; }
.menuDiscover { display: none; }
.menuMyAccount { display: none; }
.menuMySiftrs { display: none; }

.addItemDesktop { display: none; }
.addItemMobile {}

.accountMenuDesktop { display: none; }
#the-contained {
  transition-property: left;
  transition-duration: 0.25s;
}
#the-contained.accountMenuOpen {
  left: 250px;
}

.accountMenuMobile {
  position: absolute;
  width: 250px;
  left: -250px;
  top: 0;
  height: 100%;
}

.bottomModal {
  position: absolute;
  bottom: 77px;
  left: 0;
  width: 100%;
  background-color: white;
}

.noteView {
  padding: 15px;
}

.mobileTitle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
  z-index: 1;
  font-size: 23px;
  padding: 15px;
}

.primaryThumbs .mobileTitle {
  display: none;
}

.hamburgerButton {
  font-size: 23px;
  padding-right: 15px;
}

.thumbnail {
  width: 45%;
}
@media(min-width:550px) {
  .thumbnail {
    width: 31%;
  }
}
@media(min-width:700px) {
  .thumbnail {
    width: 23%;
  }
}
