@font-face {
  font-family: 'ABeeZee';
  font-style: normal;
  font-weight: 400;
  src: local('ABeeZee'), local('ABeeZee-Regular'), url(../fonts/ABeeZee.woff2) format('woff2'), url(../fonts/ABeeZee.woff) format('woff');
}
