.siftrList {
  padding-left: 15%;
  padding-right: 15%;
  width: 70%;
}

.newStep1 {
  width: 60%;
  margin-left: 20%;
}

.newStep1RightCol {
  width: 50%;
  padding-left: 10px;
  float: right;
  box-sizing: border-box;
}

.newStep1LeftCol {
  width: 50%;
  padding-right: 10px;
  float: left;
  box-sizing: border-box;
}

.newStep2 {
  width: 80%;
  margin-left: 10%;
}

.newStep2LeftCol {
  width: 50%;
  padding-right: 10px;
  float: left;
  box-sizing: border-box;
}

.newStep2RightCol {
  width: 50%;
  padding-left: 10px;
  float: right;
  box-sizing: border-box;
}

.newStep2ColorRow {
  display: table;
  float: left;
  width: 50%;
}

.newStep2MapContainer {
  height: 500px;
}

.newStep3 {
  width: 100%;
}

.newStep4 {
  width: 30%;
  padding-left: 35%;
}

.editSiftrLeftCol {
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding-left: 35px;
  padding-right: 35px;
}

.editSiftrMapContainer {
  position: fixed;
  width: 50%;
  height: calc(100% - 53px);
  right: 0;
  bottom: 0;
  box-sizing: border-box;
}

.newPrevButton {
  position: absolute;
  top: 60px;
  left: 20%;
}

.newNextButton {
  position: absolute;
  top: 60px;
  right: 20%;
}

.accountMenuDesktop {
  max-height: 0;
  position: fixed;
  top: 53px;
  right: 50px;
  background-color: rgb(44,48,59);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  width: 275px;
  overflow-y: hidden;
  transition-property: max-height;
  transition-duration: 0.25s;
}

.accountMenuOpen .accountMenuDesktop {
  max-height: 500px;
}

.loginForm {
  padding-top: 100px;
  padding-left: 30%;
  width: 40%;
}

.accountMenuMobile {
  display: none;
}

#the-mobile-menu-button {
  display: none;
}

.clearOnMobile {
  display: none;
}

.editLocationMobile {
  display: none;
}

.mobileSaveLocation {
  display: none;
}
