.topDiv {
  margin-left: 0;
  transition-property: margin-left;
  transition-duration: 0.25s;
}

.topDiv.accountMenuOpen {
  margin-left: 300px;
}

.siftrList {
  padding-left: 20px;
  padding-right: 20px;
  width: calc(100% - 40px);
}

.newStep1, .newStep2, .newStep4, .newStep5, .editSiftrLeftCol, .loginForm {
  box-sizing: border-box;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.newStep1RightColumn {
  display: none;
}

.newStep2RightCol {
  margin-top: 30px;
}

.newStep2ColorTable {
  display: table;
}

.newStep2ColorRow {
  display: table-row;
}

.editSiftrMapContainer {
  display: none;
}
.mobileMapIsOpen .editSiftrMapContainer {
  display: block;
  position: fixed;
  top: 53px;
  left: 0;
  width: 100%;
  height: calc(100% - 53px);
}

.mobileSaveLocation {
  position: fixed;
  color: white;
  background-color: rgb(51,191,224);
  text-align: center;
  bottom: 0;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  cursor: pointer;
}

.accountMenuDesktop {
  display: none;
}

.accountMenuMobile {
  position: absolute;
  left: -300px;
  top: 0;
  height: 100%;
  width: 300px;
  background-color: rgb(32, 37, 48);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  box-sizing: border-box;
}

.accountMenuMobile a {
  color: white;
}

#the-mobile-menu-button {
  height: 53px;
  line-height: 53px;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
  text-decoration: none;
  font-size: 25px;
}

.desktop-nav-bar {
  display: none;
}

.clearOnMobile {
  clear: both;
  height: 10px;
}

.newStep3 {
  flex-direction: column;
}
