body {
  font-family: 'Varela Round', sans-serif;
  padding: 0;
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  letter-spacing: 0.7px;
}

a {
  color: black;
}

#the-container {
  overflow: visible;
}

.topDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: visible;
}

#the-nav-bar {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: white;
  color: black;
  top: 0;
  left: 0;
  z-index: 1;
  height: 53px;
  border-bottom: 2px solid #E7E7E7;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#the-nav-bar > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#the-content {
  position: absolute;
  top: 53px;
  left: 0;
  overflow-y: auto;
  width: 100%;
  height: calc(100% - 53px);
  box-sizing: border-box;
}

#the-logo {
  height: 30px;
  margin: 7px 13px;
}

#the-my-siftrs-button, #the-my-account-button, #the-discover-button {
  height: 53px;
  line-height: 53px;
  margin-right: 25px;
  vertical-align: middle;
  text-decoration: none;
}

textarea {
  resize: none;
}

input[type=text], input[type=password], textarea {
  font-size: 20px;
  font-family: 'Varela Round', sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.siftrList {
  padding-top: 30px;
}

.newPrevButton, .newNextButton {
  background-color: white;
  color: black;
  padding: 14px;
}

.newPrevButton {
  border-right: 2px solid #E7E7E7;
}

.newNextButton {
  border-left: 2px solid #E7E7E7;
}

.unlink {
  color: white;
  text-decoration: none;
}

.siftr-command-button {
  float: right;
  border: 1px solid black;
  padding: 5px;
  margin-left: 5px;
  color: black;
}

.login-button {
  background-color: rgb(51,191,224);
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  color: white;
  margin-bottom: 15px;
}

.nav-menu-button {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 5px;
  margin-bottom: 12px;
  background-color: rgb(51,191,224);
  color: white;
}

.toggle-switch {
  box-sizing: border-box;
  width: 120px;
  padding: 10px;
  display: inline-block;
  text-align: center;
  border: 3px solid rgb(51,191,224);
  cursor: pointer;
  color: rgb(51,191,224);
  background-color: white;
}

.toggle-switch-on {
  color: white;
  background-color: rgb(51,191,224);
}

.form-field-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #c4c4c4;
  align-items: center;
}

.form-field-row.form-field-row-selected {
  background-color: #97F6E1;
}

.form-field-icon {
  margin: 10px;
  width: 80px;
  text-align: center;
}

.form-field-icon img {
  width: 40px;
}

.form-field-name {
  flex: 1;
  margin: 10px;
}

.form-field-x {
  margin: 10px;
}

.form-add-field {
  display: inline-block;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  padding: 10px;
  width: 100px;
  margin: 5px;
  text-align: center;
  vertical-align:top;
}

.form-add-field img {
  width: 40px;
}

.big-account-picture {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: black;
  background-size: cover;
  background-position: center;
  display: inline-block;
  cursor: pointer;
}

.category-button {
  color: white;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.delete-category-x {
  position: absolute;
  right: 8px;
  top: 4px;
  padding: 4px 10px;
  box-sizing: border-box;
  border: 2px solid white;
}

.new-siftr-hero {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  border-top: 2px solid #E7E7E7;
}

.newStepBox {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.newStep1, .newStep2, .newStep4, .newStep5 {
  flex: 1;
  overflow-y: scroll;
}

.newStep3 {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
}

.newStep3MapContainer {
  flex: 1;
}
