$black: #0A1A45;
.black { color: $black; }
$blue: #1C2B61;
.blue { color: $blue; }
$light_blue: #8B97C1;
.light_blue{ color: $light_blue; }
$super_light_blue: #EDF5F8;
.super_light_blue{color: $super_light_blue;}
$pink: #F8B2B2;
.pink { color: $pink; }
$dark_pink: #F67D7D;
.dark_pink { color: $pink;}
$light_pink: #FFD9D9;
.light_pink { color: $light_pink;}
$dark_gray: #23283F;
.dark_gray { color:$dark_gray; }
$light_gray: #F2F2F2;
.light_gray { color:$light_gray; }
$text: #323D66;
.text { color: $text; }
