#the-container {
  padding-top:60px;
}

.search_bar {
  width: 100%;
  font-size: 20px;
  padding: 12px 20px;
  border-radius: 15px;
  outline:none;
  border:none;
  background:#fff;
  width:50vw;
  font-size:18x;
  box-shadow: 0 2px 100px 0 rgba(1,15,91,0.19);
  transition: all .1s ease-in-out;
  &.selected, &:hover {
    box-shadow: 0 0px 0px 4px rgba(8,26,73,1);
  }
}

.results_arrow {
  cursor: pointer;
  font-size: 25px;
  vertical-align: middle;
}


.list_entry_faded {
  height: 325px;
  overflow: hidden;
  position: relative;

}

.list_entry {
  background: #fff;
  border-radius:10px;
  box-shadow: 0 2px 100px 0 rgba(1,15,91,0.19);
  border-radius: 8px;
  padding:15px 15px 5px 15px;
  margin:1%;
  transition: all .1s ease-in-out;
  color: $blue;
  &:hover {
    text-decoration:none;
    color:$blue;
    box-shadow: 0 0px 0px 4px rgba(8,26,73,1);
  }
  h3 {
    font-size:1.1em;
    line-height:1.2em;
    letter-spacing:.04em;
  }
  p {
    font-size:.8em;
    line-height:1.9em;
  }
}

.list_credit {
  z-index:10;
  position:relative;
  background: #fff;
  padding-top: 20px;
  border-top:3px solid $super_light_blue;
  line-height:-1;
}
@media (min-width: 801px) {
  .list_entry {
    width: 22%;
    float: left;
  }
}
@media (max-width: 800px) {
  .list_entry {
    padding: 0 10px;
  }
}
.list_image {
  margin-right: 15px;
  margin-bottom: 15px;
  display: block;
  width: 80px;
  height: 80px;
  border-radius:10px;
  margin: 0 auto;
  margin-bottom:22px;
}
.list_link {
  color: black;
  text-decoration: none;
}
.list_name {}
.list_description {}
.list_fadeout {
  pointer-events: none;
}
@media (max-width: 800px) {
  .list_fadeout {
    display: none;
  }
}
@media (min-width: 801px) {
  .list_fadeout {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index:5;
    background-image: linear-gradient(to top, white 0px, rgba(255, 255, 255, 0) 40px);
    /* above used to be rgba(0,0,0,0) but that behaves differently in Safari */
  }
}

.owner_picture {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  float: left;
  margin-top: -10px;
  margin-right: 10px;
  background-color: $pink;
  text-align: center;
  line-height: 40px;
  overflow: hidden;
  color: white;
}

.section {
  padding: 1px; /* hack, to avoid some gap under search section??? */
}

#banner {
  position: relative;
  background-size: cover;
  background:url(/assets/img/hero-bg.jpg) no-repeat;
  background-size:cover;
  height:60vw;
  background-position:bottom;
  display:flex;
  align-items: center;
  width:100%;
  @include media-breakpoint-up(sm) {
    height:30vw;
  }
}

#slogan {
  width: 100%;
  height: 30px;
  margin: 0px auto;
  text-align: center;
  font-size: 20px;
  letter-spacing: 5px;
  font-weight: light;
  color: #FFFFFF;
}
