.section {
  max-width:1200px;
  padding:10vw;
  margin: 0 auto;
  @include media-breakpoint-up(md) {
    padding:7vw;
  }
}

.section-header {
  padding:0vw 10vw 4vw 10vw;
  margin: 0 auto;
  display:block;
  width:100%;
}

.centered {
  text-align:center;
}

.call-out {
  img {
    width:70px;
    display:block;
    margin:0 auto;
    margin-bottom:20px;
  }
  p {
    max-width:500px;
    margin: 0 auto;
    margin-top:20px;
  }
}

@include media-breakpoint-up(sm) {
  .section {
    max-width:1200px;
    padding:5vw;
    margin: 0 auto;
  }
}
