nav {
  margin: 0 !important;
  border-radius: 0 !important;
}

#the-alert {
  margin-top: 20px;
}

.page {
  display: none;
}

#dropdown-logged-in {
  display: none;
}

#the-alert {
  display: none;
}

.spinner {
  display: none;
}

#hidden-map-container {
  display: none;
}

#the-map {
  height: 400px;
  width: 400px;
  max-width: 100%;
  border: 1px solid #888;
}

#bottom-padding {
  height: 50px;
}

#div-icon-thumb img {
  height: 100%;
}

#div-new-tags img {
  height: 100%;
}

#div-edit-tags img {
  height: 100%;
}

body {
  background-color: #e3e3e3;
}

.icon-uploading img {
  opacity: 0.5;
}
