.siftrList {
  padding-left: 15%;
  padding-right: 15%;
  width: 70%;
}

.newStep1 {
  width: 60%;
  margin-left: 20%;
}

.newStep1RightCol {
  width: 50%;
  padding-left: 10px;
  float: right;
  box-sizing: border-box;
}

.newStep1LeftCol {
  width: 50%;
  padding-right: 10px;
  float: left;
  box-sizing: border-box;
}

.newStep2 {
  width: 80%;
  margin-left: 10%;
}

.newStep2LeftCol {
  width: 50%;
  padding-right: 10px;
  float: left;
  box-sizing: border-box;
}

.newStep2RightCol {
  width: 50%;
  padding-left: 10px;
  float: right;
  box-sizing: border-box;
}

.newStep2ColorRow {
  display: table;
  float: left;
  width: 50%;
}

.newStep2MapContainer {
  height: 500px;
}

.newStep3 {
  width: 30%;
  padding-left: 35%;
}

.editSiftrLeftCol {
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding-left: 35px;
  padding-right: 35px;
}

.editSiftrMapContainer {
  position: fixed;
  width: 50%;
  height: calc(100% - 52px); /* TODO: fix this after the top bar is finished */
  right: 0;
  bottom: 0;
  box-sizing: border-box;
}

.newPrevButton {
  position: absolute;
  top: 60px;
  left: 20%;
}

.newNextButton {
  position: absolute;
  top: 60px;
  right: 20%;
}
