.topDiv {
  margin-left: 0;
  transition-property: margin-left;
  transition-duration: 0.25s;
}

.topDiv.accountMenuOpen {
  margin-left: 300px;
}

.siftrList {
  padding-left: 20px;
  padding-right: 20px;
  width: calc(100% - 40px);
}

.newStep1, .newStep2, .newStep3, .editSiftrLeftCol, .loginForm {
  box-sizing: border-box;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.newStep2RightCol {
  margin-top: 30px;
}

.newStep2ColorTable {
  display: table;
}

.newStep2ColorRow {
  display: table-row;
}

.newStep2MapContainer {
  height: 300px;
}

.editSiftrMapContainer {
  width: 100%;
  height: 300px;
}

.newPrevButton, .newNextButton {
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.accountMenuDesktop {
  display: none;
}

.accountMenuMobile {
  position: absolute;
  left: -300px;
  top: 0;
  height: 100%;
  width: 300px;
  background-color: rgb(44, 48, 59);
  color: white;
}
