body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

#the-container {
  overflow: visible;
}

.topDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: visible;
}

#the-nav-bar {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: rgb(44, 48, 59);
  top: 0;
  left: 0;
  z-index: 1;
  height: 53px;
}

#the-content {
  position: absolute;
  top: 52px;
  left: 0;
  overflow-y: auto;
  width: 100%;
  height: calc(100% - 52px);
  box-sizing: border-box;
}

#the-nav-bar:after {
  content: "";
  display: table;
  clear: both;
}

#the-logo {
  float: left;
}

#the-my-siftrs-button {
  float: right;
  height: 53px;
  line-height: 53px;
  margin-right: 15px;
  vertical-align: middle;
  text-transform: uppercase;
  color: rgb(231, 203, 0);
  text-decoration: none;
}

#the-my-account-button {
  float: right;
  color: white;
  margin: 15px;
  text-transform: uppercase;
}

#the-discover-button {
  float: right;
  color: white;
  margin: 15px;
  text-transform: uppercase;
}

textarea {
  resize: none;
}

input[type=text], input[type=password], textarea {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.siftrList {
  padding-top: 30px;
}

.newPrevButton, .newNextButton {
  background-color: rgb(97,201,226);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}
