RewriteEngine on

# /foo becomes /foo/ (if foo isn't a real file or dir)
RewriteCond %{DOCUMENT_ROOT}/$1 !-f
RewriteCond %{DOCUMENT_ROOT}/$1 !-d
RewriteRule ^([^/]+)$ /$1/ [R]

RewriteRule ^editor/(.*)$ /editor-react/$1

# /foo/       becomes /client-react/
# /foo/bar.js becomes /client-react/bar.js
# (the Siftr app looks at the browser-side URL to know it should load "foo")
RewriteCond %{DOCUMENT_ROOT}/client-react/$2 -f [OR]
RewriteCond %{DOCUMENT_ROOT}/client-react/$2 -d
RewriteCond %{DOCUMENT_ROOT}/$1/$2 !-f
RewriteCond %{DOCUMENT_ROOT}/$1/$2 !-d
RewriteRule ^([^/]+)/(.*)$ /client-react/$2

# Serve SVG correctly
AddType image/svg+xml svg svgz
AddEncoding gzip svgz

# compress text, html, javascript, css, xml
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript
